<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">General Information</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<h4>Date Created</h4>
				<h5 class="text-info">$identityServiceReg.getCreated()</h5>
			</div>
			<div class="form-group">
				<h4>Identity Provider</h4>
				<h5 class="text-info">$identityServiceReg.getIdentityProviderId()</h5>
				
			</div>
			<div class="form-group">
				<h4>Description</h4>
				<div>
					<p class="text-info">$identityServiceReg.getDescription()</p>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Security Token Service</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<h4>Issue Token URL</h4>
				<code>$issueTokenUrl</code>
			</div>
			<div class="form-group">
				<h4>Validate Token URL</h4>
				<code>$validateTokenUrl</code>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">OpenID</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<h4>URL</h4>
				<code>$openIdUrl</code>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Configuration</h3>
		</div>
		<div class="panel-body">
			<textarea class="form-control" rows="10" name="configuration">$identityServiceReg.getConfiguration().toString()</textarea>
			<br />
			<button type="button" class="btn btn-primary" name="editToggle">Edit</button>
			<button type="button" class="btn btn-primary" name="cancel">Cancel</button>
		</div>
	</div>
</div>

<script>

function init()
{
	$("textarea").attr("readonly","readonly");
	$("button[name='cancel']").hide();
	$("button[name='editToggle']").click(
	function(){
			editToggle();
		}
	);
	
	$("button[name='cancel']").click(
	function(){
			cancel();
		}
	);	
			
}
function editToggle()
{
	var action = $("button[name='editToggle']").html();
	if(action == "Edit")
	{
		$("button[name='editToggle']").html("Save");
		$("textarea").removeAttr("readonly");
		$("button[name='cancel']").show();	
	}
	else
	{
		var response = validateInput();
		if(response)
		{
			$.post("$createEditServletUrl" , { "response" : response } , function(data){
							// success - refresh page
							window.location.reload();
						}).fail(
							function(error){
								console.log(error.responseText);
								alert(error.responseText);
							}
						);	
		}
		else
		{
			alert("Invalid JSON");
		}
	}
}

function cancel()
{
	$("button[name='cancel']").hide();
	$("button[name='editToggle']").html("Edit");
	$("textarea").html("$esc.java($identityServiceReg.getConfiguration().toString())");	
	$("textarea").attr("readonly","readonly");
}

function validateInput()
{
						try{
						var name = "$identityServiceReg.getName()";
						var description = 	"$identityServiceReg.getDescription()";
						var configuration = $("textarea[name='configuration']").val();
						var identityProvider ="$identityServiceReg.getIdentityProviderId()";
						
						configuration = JSON.parse(configuration);
						
						if(configuration)
						{
							var response = {};
							response.name = name;
							response.description = description;
							response.identityProviderId = identityProvider;
							response.configuration = configuration;
							
							response = JSON.stringify(response);
							return response;
						}
						else
						{
							return false;
						}
						}
						catch(error)
						{							
							return false;
						}
					
}

init();
</script>