<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"                               
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:osgi="http://www.springframework.org/schema/osgi"                               
   xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd                      
       http://www.springframework.org/schema/osgi  
       http://www.springframework.org/schema/osgi/spring-osgi.xsd">

<bean id="identityProvider" class="org.rakshak.idp.ldap.ext.LdapIdentityProvider">
	<property name="configurationManager" ref="configurationManager"></property>
	<property name="keyPairFileName" value="public-private-keypair.secret"></property>  
</bean> 

<osgi:reference interface="org.rakshak.core.service.IConfigurationManagerService" id="configurationManager"></osgi:reference>

<osgi:service interface="org.rakshak.core.api.IIdentityProvider" ref="identityProvider"></osgi:service>

</beans>



