<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"                               
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:osgi="http://www.springframework.org/schema/osgi"                               
   xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd                      
       http://www.springframework.org/schema/osgi  
       http://www.springframework.org/schema/osgi/spring-osgi.xsd">

 

<bean id="managerService" class="org.rakshak.core.internal.impl.ManagerServiceImpl" init-method="init">
	<property name="serviceRegistrationFile" value="service-reg.json"></property>
	<property name="configurationManager" ref="configurationService"></property>	
</bean>

<bean id="configurationService" class="org.rakshak.core.internal.impl.ConfigurationManagerServiceImpl" init-method="init">
	<property name="configDirectory" value="service-config"></property>
</bean>

<bean id="fileBasesIdentityProvider" class="org.rakshak.core.ext.FileBasedIdentityProvider">
<property name="configurationManager" ref="configurationService"></property>
<property name="keyPairFileName" value="public-private-keypair.secret"></property>
</bean>

<bean id="applicationStarter" class="org.rakshak.core.bundle.ApplicationStarter" init-method="startup">
	<property name="securityTokenService" ref="securityTokenServiceCore"></property>
	<property name="configurationManager" ref="configurationService"></property>
	<property name="defaultSystemConfiguration" ref="systemConfig"></property>
	<property name="managementService" ref="managerService"></property>
	<property name="adminFileBasedIdentityConfiguration" ref="adminFileBasedIdentityConfiguration"></property>
	<property name="fileBasedIdentityProvider" ref="fileBasesIdentityProvider"></property>

</bean>

<bean id="systemConfig" class="org.rakshak.core.internal.conf.SystemConfiguration">
		<property name="stsHost" value="0.0.0.0"></property>
		<property name="stsPort" value="1111"></property>
		<property name="stsProtocol" value="http"></property>
		<property name="adminIdentityService" value="admin-identity-service"></property>
</bean>

<bean id="adminFileBasedIdentityConfiguration" class="org.rakshak.core.ext.FileBasedIdentityServiceConfiguration">
		<property name="tokenLifetime" value="3600"></property>
		<property name="userStore">
			<map>
				<entry key="admin" value="password"></entry>
			</map>
		</property>
		<property name="groupStore">
			<map>
				<entry key="admin">
					<list>
						<value>admin</value>
					</list>
				</entry>
			</map>
		</property>
		
</bean>

<bean id="loginFilter" class="org.rakshak.core.internal.web.login.LoginFilter">
	<property name="appStarter" ref="applicationStarter"></property>
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
	<property name="bodyCenterTemplateName" value="admin_dashboard.login_body_center_section.vt.html"></property>
	<property name="managementService" ref="managerService"></property>
	<property name="servletUrl" value="/rakshak/administration/.*"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	<property name="adminHomePage" ref="viewServiceServletUrl"></property>
</bean>

<bean id="securityTokenServiceCore" class="org.rakshak.core.rest.impl.SecurityTokenServiceCoreImpl" init-method="init">
	<property name="managerService" ref="managerService"></property>
</bean>

<bean id="jdbcDriverRegistry" class="org.rakshak.core.util.JDBCDriverRegistry" init-method="init">
</bean>

<!-- Velocity -->
<bean id="velocityWrapper" class="org.rakshak.core.util.VelocityEngineWrapper" init-method="init">
	<property name="props">
		<props>
			<prop key="resource.loader">class</prop>
			<prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
		</props>
	</property>
</bean>

<!-- WebApp -->
<bean id="webAppLauncher" class="org.rakshak.core.internal.web.WebApplicationLauncher" init-method="init">
	<property name="listOfAppInitializers">
		<list>
			<ref bean="openIDWebApp"/>
			<ref bean="adminWebApps"/>
		</list>
	</property>
	<property name="loginFilter" ref="loginFilter"></property>
</bean>

<bean id="errorPage" class="org.rakshak.core.internal.web.common.ErrorPage" init-method="init">
	<property name="templateName" value="openid.error_page_body_center_section.vt.html"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
</bean>

<bean id="loginPage" class="org.rakshak.core.internal.web.common.openid.UserLoginPage" init-method="init">
	<property name="templateName" value="openid.login_page_body_center_section.vt.html"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
</bean>


<!-- OpenID -->
<bean id="openIDWebApp" class="org.rakshak.core.internal.web.WebModule" >
	<property name="moduleName" value="OpenID Web Application"></property>
	<property name="listOfServlets">
		<list>
			<ref bean="opEndpoint"/>		
		</list>
	</property>
</bean>

<bean id="opEndpoint" class="org.rakshak.core.internal.web.common.openid.OpenIDEndpointServlet">
	<property name="errorPage" ref="errorPage"></property>
	<property name="loginPage" ref="loginPage"></property>
	<property name="managerService" ref="managerService"></property>
	<property name="seekUserApprovalTemplateName" value="openid.seek_user_approval_body_section.vt.html"></property>
	<property name="servletUrl" value="/rakshak/client/openid"></property>
	<property name="sessionMaxInactiveInterval" value="36000"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	<property name="xrdsTemplateName" value="xrds.vt"></property>	
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
	
</bean>


<!-- Main Admin Web Apps -->
<bean id="adminWebApps" class="org.rakshak.core.internal.web.WebModule" >
	<property name="moduleName" value="Rakshak Admin Dashboard Application"></property>
	<property name="listOfServlets">
		<list>
			<ref bean="createEditIdentityServlet"/>
			<ref bean="gettingStartedServlet"/>
			<ref bean="viewServiceServlet"/>		
		</list>
	</property>
</bean>

<bean id="viewServiceBodyCenterSection" class="org.rakshak.core.internal.web.action.dashboard.ViewServiceBodyCenterSection" init-method="init">
	<property name="baseTemplateName" value="admin_dashboard.view_service_body_center_section.vt.html"></property>
	<property name="createEditServletUrl" ref="createEditIdentityServletUrl"></property>
	<property name="gettingStartedUrl" value="/rakshak/administration/getting_started"></property>
	<property name="managementService" ref="managerService"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	<property name="appStarter" ref="applicationStarter"></property>
</bean>

<bean id="serviceMenuLeftMarginSection" class="org.rakshak.core.internal.web.action.dashboard.ServiceMenuLeftMarginSection" init-method="init">
	<property name="baseTemplateName" value="admin_dashboard.service_menu_left_margin_section.vt.html"></property>
	<property name="createNewServiceUrl" ref="createEditIdentityServletUrl"></property>
	<property name="viewServiceUrl" ref="viewServiceServletUrl"></property>
	<property name="managementService" ref="managerService"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
</bean>

<bean id="postLoginUserSection" class="org.rakshak.core.internal.web.action.dashboard.PostLoginUserSection" init-method="init">
	<property name="baseTemplateName" value="admin_dashboard.post_login_user_section.vt.html"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
</bean>

<bean id="gettingStartedBodyCenterSection" class="org.rakshak.core.internal.web.action.dashboard.GettingStartedBodyCenterSection" init-method="init">
	<property name="baseTemplateName" value="admin_dashboard.getting_started_body_center_section.vt.html"></property>
	<property name="createNewServiceUrl" ref="createEditIdentityServletUrl"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
</bean>

<bean id="createNewServiceBodyCenterSection" class="org.rakshak.core.internal.web.action.dashboard.CreateNewServiceBodyCenterSection" init-method="init">
	<property name="baseTemplateName" value="admin_dashboard.create_new_service_body_center_section.vt.html"></property>
	<property name="createEditServletUrl" ref="createEditIdentityServletUrl"></property>
	<property name="viewServiceServletUrl" ref="viewServiceServletUrl"></property>
	<property name="managementService" ref="managerService"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
</bean>

<!-- Common URLs -->
<bean id="createEditIdentityServletUrl" class="java.lang.String">
	<constructor-arg index="0">
		<value>/rakshak/administration/create_edit_identity_service.action</value>
	</constructor-arg>
</bean>
<bean id="viewServiceServletUrl" class="java.lang.String">
	<constructor-arg index="0">
		<value>/rakshak/administration/home</value>
	</constructor-arg>
</bean>

<!-- servlets -->
<bean id="createEditIdentityServlet" class="org.rakshak.core.internal.web.action.dashboard.CreateEditIdentityServiceServlet">
	<property name="servletUrl" ref="createEditIdentityServletUrl"></property>
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
	<property name="bodyCenterSection" ref="createNewServiceBodyCenterSection"></property>
	<property name="bodyLeftMarginSection" ref="serviceMenuLeftMarginSection"></property>
	<property name="bodyRightMarginSection" ref="postLoginUserSection"></property>
	<property name="pageSubtitleSection" ref="createNewServiceBodyCenterSection"></property>
	<property name="pageTitleSection" ref="createNewServiceBodyCenterSection"></property>
	<property name="userSection" ref="postLoginUserSection"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	<property name="managerService" ref="managerService"></property>
	<property name="viewServiceUrl" ref="viewServiceServletUrl"></property>
</bean>

<bean id="gettingStartedServlet" class="org.rakshak.core.internal.web.action.dashboard.GeneralBaseTemplateServlet">
	<property name="servletUrl" value="/rakshak/administration/getting_started"></property>
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
	<property name="bodyCenterSection" ref="gettingStartedBodyCenterSection"></property>
	<property name="bodyLeftMarginSection" ref="serviceMenuLeftMarginSection"></property>
	<property name="bodyRightMarginSection" ref="postLoginUserSection"></property>
	<property name="pageSubtitleSection" ref="gettingStartedBodyCenterSection"></property>
	<property name="pageTitleSection" ref="gettingStartedBodyCenterSection"></property>
	<property name="userSection" ref="postLoginUserSection"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
</bean>


<bean id="viewServiceServlet" class="org.rakshak.core.internal.web.action.dashboard.GeneralBaseTemplateServlet">
	<property name="servletUrl" ref="viewServiceServletUrl"></property>
	<property name="baseTemplateName" value="common.general_base_template.vt.html"></property>
	<property name="bodyCenterSection" ref="viewServiceBodyCenterSection"></property>
	<property name="bodyLeftMarginSection" ref="serviceMenuLeftMarginSection"></property>
	<property name="bodyRightMarginSection" ref="postLoginUserSection"></property>
	<property name="pageSubtitleSection" ref="viewServiceBodyCenterSection"></property>
	<property name="pageTitleSection" ref="viewServiceBodyCenterSection"></property>
	<property name="userSection" ref="postLoginUserSection"></property>
	<property name="velocityEngineWrapper" ref="velocityWrapper"></property>
	
</bean>



<osgi:service interface="org.rakshak.core.api.IIdentityProvider" ref="fileBasesIdentityProvider"></osgi:service>
<osgi:service interface="org.rakshak.core.service.IManagerService" ref="managerService"></osgi:service>
<osgi:service interface="org.rakshak.core.service.IConfigurationManagerService" ref="configurationService"></osgi:service>
<osgi:service interface="org.rakshak.core.util.JDBCDriverRegistry" ref="jdbcDriverRegistry"></osgi:service>
</beans>



