<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"                               
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:osgi="http://www.springframework.org/schema/osgi"                               
   xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd                      
       http://www.springframework.org/schema/osgi  
       http://www.springframework.org/schema/osgi/spring-osgi.xsd">

 

<bean id="managerService" class="edu.emory.cci.bindaas.sts.internal.impl.ManagerServiceImpl" init-method="init">
	<property name="serviceRegistrationFile" value="service-reg.json"></property>
	<property name="configurationManager" ref="configurationService"></property>	
</bean>

<bean id="configurationService" class="edu.emory.cci.bindaas.sts.internal.impl.ConfigurationManagerImpl" init-method="init">
	<property name="configDirectory" value="service-config"></property>
</bean>

<bean id="fileBasesIdentityProvider" class="edu.emory.cci.bindaas.sts.ext.FileBasedIdentityProvider">
<property name="configurationManager" ref="configurationService"></property>
<property name="keyPairFileName" value="public-private-keypair.secret"></property>
</bean>

<osgi:service interface="edu.emory.cci.bindaas.sts.api.IIdentityProvider" ref="fileBasesIdentityProvider"></osgi:service>
<osgi:service interface="edu.emory.cci.bindaas.sts.internal.api.IManagerService" ref="managerService"></osgi:service>
<osgi:service interface="edu.emory.cci.bindaas.sts.internal.api.IConfigurationManager" ref="configurationService"></osgi:service>
</beans>



