<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"                               
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:osgi="http://www.springframework.org/schema/osgi"                               
   xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd                      
       http://www.springframework.org/schema/osgi  
       http://www.springframework.org/schema/osgi/spring-osgi.xsd">

 

<bean id="managerService" class="edu.emory.cci.bindaas.sts.internal.impl.ManagerServiceImpl" init-method="init">
	<property name="serviceRegistrationFile" value="service-reg.json"></property>
	<property name="configurationManager" ref="configurationService"></property>	
</bean>

<bean id="configurationService" class="edu.emory.cci.bindaas.sts.internal.impl.ConfigurationManagerServiceImpl" init-method="init">
	<property name="configDirectory" value="service-config"></property>
</bean>

<bean id="fileBasesIdentityProvider" class="edu.emory.cci.bindaas.sts.ext.FileBasedIdentityProvider">
<property name="configurationManager" ref="configurationService"></property>
<property name="keyPairFileName" value="public-private-keypair.secret"></property>
</bean>

<bean id="applicationStarter" class="edu.emory.cci.bindaas.sts.bundle.ApplicationStarter" init-method="startup">
	<property name="securityTokenService" ref="securityTokenServiceCore"></property>
	<property name="host" value="localhost"></property>
	<property name="port" value="1111"></property>
</bean>

<bean id="securityTokenServiceCore" class="edu.emory.cci.bindaas.sts.rest.impl.SecurityTokenServiceCoreImpl">
</bean>


<osgi:service interface="edu.emory.cci.bindaas.sts.api.IIdentityProvider" ref="fileBasesIdentityProvider"></osgi:service>
<osgi:service interface="edu.emory.cci.bindaas.sts.service.IManagerService" ref="managerService"></osgi:service>
<osgi:service interface="edu.emory.cci.bindaas.sts.service.IConfigurationManagerService" ref="configurationService"></osgi:service>
</beans>



